<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to:root, class: 'navbar-brand' do %>
      <span class="text-success">Good</span>App
    <% end %>
  </div>
</nav>
